
<div class="conatiner mt-5">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="p-4 border border-3 shadow">
                <h1 class="fw-bold text-center my-2">Subtraction</h1>

                <div class="mb-3">
                    <label for="">enter number1</label>
                    <input type="text" class="form-control" placeholder="enter  number1" #box1>
                </div>
                <div class="mb-3">
                    <label for="">enter number1</label>
                    <input type="text" class="form-control" placeholder="enter  number2" #box2>
                </div>
                <div class="mb-3">

                    <input (click)="performSubtraction(box1,box2)" type="button" class="form-control btn btn-outline-info" value="sub">
                </div>
                
                Subtraction result={{result}}

            </div>

        </div>
        <div class="col-3"></div>

    </div>
</div>
